@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
html {
  font-size: 16px; }

body {
  background-color: #ffff;
  font-family: sans-serif;
  font-family: sans-serif; }

li {
  list-style: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.wrapper {
  margin: 50px; }

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: #02a389; }

form {
  font-family: 'Montserrat'; }
  form label {
    font-size: 1.5rem;
    color: #fc5d5b;
    margin-right: 5px; }
  form input {
    background-color: #f3f6f8;
    padding: 1rem 8rem 1rem 1rem;
    border: none;
    border-radius: 5px; }
    form input::placeholder {
      color: #02a389;
      font-size: 1rem;
      opacity: 0.4; }

.countries-list a {
  display: block;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #15203e; }
  .countries-list a:hover {
    color: #fc5d5b;
    text-decoration: underline; }

.modal-container {
  display: none;
  width: 800px;
  background-color: #f3f6f8;
  position: fixed;
  top: 200px;
  left: 400px;
  border-radius: 20px; }
  .modal-container button {
    margin-left: 600px;
    margin-top: 10px; }

.container {
  width: 600px;
  margin: 0 auto;
  padding: 50px; }
  .container h2 {
    font-size: 1.5rem;
    color: #fc5d5b; }
  .container img {
    width: 40%; }

.content-detail {
  float: right; }
  .content-detail ul {
    padding-left: 0; }
  .content-detail li {
    padding-bottom: 10px;
    color: #15203e; }

/*CLASES PARA USAR EN JS*/
.active {
  display: block; }

.hidden {
  display: none; }

.dark {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #f3f6f8;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s; }
